/*
   New Perspectives on HTML and CSS, 7th Edition
   Tutorial 7
   Case Problem 2

   Spice Bowl Payment Form Validation Style Sheet
   Author: Brenden Riley
   Date:   1.15.19

   Filename: sb_validate.css

*/


/* Validation Styles */